numpy >= 2.2.5
pandas >= 2.2.3
requests >= 2.32.3
sqlalchemy >= 2.0.20
psycopg2 >= 2.9.6
python-dotenv >= 1.1.0
dotenv >= 0.9.9
certifi==2025.4.26
charset-normalizer==3.4.2
et_xmlfile==2.0.0
idna==3.10
openpyxl==3.1.5
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
openmeteo_requests >= 1.4.0
openmeteo_sdk >= 1.20.0
requests-cache >= 1.2.1
retry-requests >= 2.0.0
boto3>=1.38.17
aiohttp>=3.11.18
dbt-core>=1.9.4
dbt-postgres>=1.9.0